<div id="landing-box">
    <h4>Your request has been sent</h4>
    <p>
        Because I am the only person contributing to this project, please allow for up to 24 hours for me to process your request.
    </p>
    <%= button_to "Back Home", root_path, method: :get %>
</div>