
<div id="landing-box">
    <% if @errors %>
        <h5 id="login-errors"><em><%= @errors %></em></h5>
    <% end %>
    <%= render partial: 'users/user_form', locals: {user: @user, action: "signup", url: users_path} %>

    <%= button_to "Back Home", root_path, method: :get %>
</div>