<p>Hello</p>

<p>I am sorry to inform you that, due to limited resources, I cannot accommodate any new users for the Craigslist Notification App at this time.</p>

<p>Thank you for your interest.</p>

<p>Sincerely,</p>

<p>Quinn Dizon</p>