<p>Hello!</p>

<p>Your request for access to the Craigslist Notification App has been approved. Your access token is provided below:</p>

<h2><%= @token %></h2>

<p>Thank you for your interest in this product!</p>

<p>Sincerely,</p>

<p>Quinn Dizon</p>



