<p>Hello!</p>

<p>Your request for access to the CL Notifier App has been approved. Your access token is provided below:</p>

<h2><%= @token %></h2>

<h4>The above token is only valid for the following email address: <%= @email %></h4>

<p>Thank you for your interest in this project!</p>

<p>Sincerely,</p>

<p>Quinn Dizon</p>



