<h3>User: <%= @user.email %></h3>

<div class="current_user" data-id=<%= @user.id %>
</div>

<script>

    $(function(){
        let user = $(".current_user")
        // console.log(`/users/${user.data("id")}/current_searches`)
        $.get(`/users/${user.data("id")}/current_searches.json`, function(data){
            console.log(data)
        })
    })

</script>