<h3>User: <%= @user.email %></h3>

<div class="current_user" data-id=<%= @user.id %>
</div>


<%= render partial: 'new_search_form', locals: {search: Search.new}  %>

<h3>Manage Searches</h3>

<div class="searches">
        
</div>



<script id="card" type="text/x-handlebars-template">
    {{#each this}}
        <div class="search-card active-{{active}}">
            <p><a href="#">edit</a> | <a class="delete-link" href="/users/{{user_id}}/searches/{{id}}">delete</a> | <a href={{url}} target="_blank">see craiglist page</a></p>
            <form class="toggle_form" action="/toggle_active" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input type="hidden" name="search[id]" value={{id}}>
                {{#if active}}
                    <input type="submit" value="Deactivate Search">
                {{else}}
                    <input type="submit" value="Activate Search">
                {{/if}}
                <!-- <input type="submit" value="activate/deactivated"> -->
            </form>
            <hr>
            <div class="search-info">
                <h3>{{description}}</h3>
                <h6>url: {{url}}</h6>
            </div>
        </div>
    {{/each}}
</script>



<script>

    $(function(){
        getAllSearches();
    })

</script>

<script>
    createNewSearch();
</script>