<h3>User: <%= @user.email %></h3>

<div class="current_user" data-id=<%= @user.id %>
</div>

<div class="searches">
        
</div>

<script>

    $(function(){
        let user = $(".current_user")
        $.get(`/users/${user.data("id")}/currentsearches.json`, function(data){
            html = ""
            data.forEach(json => {
                html += `<div class="single-search">
                        <h3>${json.description}</h3>
                        <a href="${json.url}" target="_blank">See Page</a>
                    </div>`

            })
            $(".searches").html(html)
            $(".single-search").click(function(){
                console.log(this) // do something else here when clicked
            })
        })
    })

</script>