<h3>User: <%= @user.email %></h3>

<div class="current_user" data-id=<%= @user.id %>
</div>

<%= button_to "Create New Search", new_user_search_path(@user), method: :get %>


<div class="searches">
        
</div>



<script id="card" type="text/x-handlebars-template">
    {{#each this}}
        <div class="search-card">
            <div class="search-info">
                <h3>{{description}}</h3>
                <h6>url: {{url}}</h6>
                <hr>
            </div>
            <a href={{url}} target="_blank">See Craiglist Page</a>
        </div>
    {{/each}}
</script>



<script>

    $(function(){
        let user = $(".current_user")
        $.get(`/users/${user.data("id")}/currentsearches.json`, function(data){
            let template = Handlebars.compile(document.getElementById("card").innerHTML)
            let results = template(data)
            
            $(".searches").html(results)
            $(".search-info").click(getListings)
        })
    })

</script>