body{
    min-height: 1080px;
    background-color: var(--background);
    /* background-color: #3c988d; */
    background-image: linear-gradient(180deg, #49b6a9 0%, #50d2c2 100%);
    background-repeat: no-repeat;
}

#app{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 3em;

    font-family: var(--primary-font);
}
