body{
    background-color: #ce6a7e;
    background-image: linear-gradient(0deg, #ce6a7e 0%, #ffb583 60%);
    

    background-size: cover;
    background-repeat: no-repeat;
}

#app{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 3em;

    font-family: Arial, Helvetica, sans-serif;
}
