/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require search_cards
 *= require new_search_form
 *= require navigation
 *= require pre-login
 *= require edit-form
 */

 :root{
     --background: #50d2c2;
     --primary-dark: #1f423f;
     --primary-light: #e9e9e9;

     --primary-accent: #da2955;
     --secondary-accent: #fad739;

     --primary-font: 'Verdana', Geneva, Tahoma, sans-serif;

     --secondary-dark: #00000013;
     --tertiary-dark: #229793;
     /* --tertiary-dark: rgb(39, 180, 168); */

 }

