.navigation{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: var(--primary-light);

    padding: 10px 0;

    font-family: var(--primary-font);

    text-align: center;
}

@media only screen and (max-width: 699px){
    .navigation{
        grid-template-columns: 1fr;
    }
}

.navigation form input{
    font-size: 1.7em;
    background-color: var(--primary-light);
    width: 75%;
    border-radius: 4px;
    background-color: var(--primary-accent);
    color: var(--primary-light);
}