:root{
    --background: rgb(65, 76, 88);
    
    --border-color: rgb(139, 194, 248);
    --card-background: rgb(240, 240, 240);
    --card-font-color: rgb(65, 76, 88);
}


.searches{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 1em;

    background-color: rgb(115, 162, 209);
    padding: 20px;
}

@media only screen and (max-width: 1200px){
    .searches{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1000px){
    .searches{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 750px){
    .searches{
        grid-template-columns: 1fr;
    }
}

.searches-heading{
    background-color: rgb(139, 194, 248);
    margin: 0;
    padding: 5px;
    text-align: center;
}


.search-card{
    margin-bottom: 8px;
    width: 95%;
    box-shadow: 2px 2px 5px grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--card-background);
    padding: 0 9px 0 9px;
    color: var(--card-font-color)
    

}

.active-true{
    border-left: solid 10px blue;
}

.active-false{
    border-left: solid 10px red;
}

.card-buttons{
    display: inline;
}

.card-buttons > input[type=submit]{
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    background-color: whitesmoke;
    font-weight: 600;

}

.edit-url, .edit-description{
    width: 97%;
}