<footer id="footer">

    <div id="about" class="footer-section">
        <h3>About</h3>
        <div class="footer-content">
        
            <p>
                The CL Notifier App is created and maintained by <a href="http://quinndizon.com" target="_blank">Quinn Dizon</a>. 
                This is a non-comercial, open source project that was primarily created for fun and learning.
            </p>

            <h4>Why use the CL Notifier App?</h4>

            <p>
                Depending on what you are searching for on Craigslist, you might have a lot of competition from other people in your area. 
                Listings can be posted and claimed within a matter or minutes. 
                The CL Notifier App makes it easy for you to get notifications of new, relevant listings within minutes of them being posted. 
                Simply search for the listings that interest you, and paste the url in CL Notifier App form. 
                You will get periodic notifications aboute new listings on the Craigslist page.
            </p>

            <h4>What are some limitations of the CL Notifier App?</h4>

            <p>
                Due to the volume of posts on Craigslist on a daily basis, they does not update their listings pages every time someone posts something new. 
                Each new listing may take about 20 minutes to show up in the search results. 
                Since the CL Notifier App just watches these pages for any new listings, your notifications may contain listings that were posted any with about a 30 minutes time frame. 
            </p>

            <p>
                Since this is a non-comercial application, computing resources are limited. 
                Due to a limit on the number of email notifications I can send out daily, I can only accomodate a small number of users.
                Were I to add enterprise level features, I would need to charge for access to this app, which would be against the <a href="https://www.craigslist.org/about/terms.of.use?lang=en&cc=us" target="_blank">Craigslist Terms of User</a>.
            </p>
        </div>
    </div>
        
    <div id="contact" class="footer-section">
        <h3>Contact</h3>
        <div class="footer-content">
            <p>
                If you have comments or suggestions, feel free to reach out to me <a href=<%= ENV["contact_email"] %>>here</a>. 
                I am happy to help with any issues you might experience.
                Since I am the only person maintaing this project, please allow for some time for me to get back to you. 
            </p>

            <p>
                Note: If you have requested access to the application, but have been denied due to limited resources, I cannot grant access from personal requests. 
                Thank you for your understanding.
            </p>
        </div>
    </div>

    <div id="github" class="footer-section">
        <h3>Github Repo</h3>
        <div class="footer-content">
            <p>
                If you would like to contribute to this project, or clone and run a version on a local machine, you can find the source code at <a href="https://github.com/QED0711/craigslist-notifier" target="_blank">this github repo</a>.
            </p>
        </div>
    </div>



</footer>