<nav class="navigation">
    <%= button_to "Home", user_searches_path(current_user), method: :get %>
    <%= button_to "Edit Profile", edit_user_path(current_user), method: :get %>
    <%= button_to  "Logout", logout_path, method: :delete %>
</nav>